{% load static %}
<!DOCTYPE HTML>

<!-- Registration Page -->

<html>
	<title>Registration</title>    
    <link rel="stylesheet" href="{% static 'style/style.css'%}">
	
	<div id="bg">
		
		<!-- Navigation Bar -->
		<nav id = "no_log_nav">
			<a href = "{% url 'front_page'%}">Home Page</a>
			<a href = "{% url 'login'%}">Login</a>
		</nav>
		
		<form method = "post" action="{% url 'signup' %}" id="register-form">
			{% csrf_token %}
			<body>
				<header>
					<h2>Registration</h2>
				</header>
	
				<div>
					{{form}}
				</div>
		
				<div>
					<button type="submit">Register</button>
				</div>
			</body>
		</form>
	</div>
</html>