*
{
	font-family: gothic;
	background-color: CornflowerBlue;
}

input[type="submit"], input[type="button"]
{
	width:250px;
	height:50px;
	font-size:15pt;
	margin: auto;
	
	background-color:DarkCyan;
	box-shadow: 10px 10px 5px;
}

input[type="text"]
{
	background-color:lightblue;
}

body
{
}

div
{
	padding: 10px;
	color:cyan;
}