{% load static %}
<!DOCTYPE HTML>

<!-- Fuel Quote Form -->

<html>
	<title>Fuel Quote</title>
    <link rel="stylesheet" href="{% static 'style/style.css'%}">
		
	<div id="bg">
		<!-- Logged in user-->
		<div id = "profile_header">
			{% if user.is_authenticated %}
				<p>Welcome {{user.username}}</p>
			{% else %}
				<p>Not Logged In</p>
			{% endif %}
		</div>
		
		<!-- Navigation Bar -->
		<nav id = "no_log_nav">
			{% if user.has_profile %}
				<a href="{% url 'fuel_history'%}">Purchase History</a>
				<a href="{% url 'fuel_quote'%}">Fuel Quote</a>	
			{% endif %}
			{% if user.is_authenticated %}
				<a href="{% url 'profile_manager'%}">Profile Management</a>
				<a href="{% url 'logout' %}">Logout</a>
			{% else %}
				<a href = "{% url 'login'%}">Login</a>
				<a href = "{% url 'signup'%}">Register</a>
			{% endif %}
			
		</nav>
		
		<form>
			<header>
				<h2>Fuel Quote Form:</h2>
			</header>
			<body>
				<div>
					<label>Gallons Requested:</label>
					<input type="number" id="gallons-field" name="gallons" class = "fuel-field" min="0" placeholder = 0 required>
				</div>
			
				<div>
					<label>Delivery Address: {{user.clientinformation.address1}}, {{user.clientinformation.city}}, {{user.clientinformation.state}}</label></label>
				</div>
			
				<div>
					<label>Delivery Date:</label>
					<input type="date" id="date-field" name="calendar" class="fuel-field" required>
				</div>
				
				<div>
					<label>Suggested Price: $<label id="suggested_price">Price / Gallon</label></label>
				</div>
				
				<div>
					<label>Total Amount Due: $<label id = "amount_due"></label></label>
				</div>
				
				<div>
					<input type="submit" value = "Submit Form" id="fuel-form-submit">
				</div>
			</body>
		</form>
	</div>	
</html>