{% load static %}
<!DOCTYPE HTML>

<!-- Front Page -->

<html>
	<title>Front Page</title>
    <link rel="stylesheet" href="{% static 'style/style.css'%}">
	
	<script defer src="{% static 'function/function.js' %}"></script> 
	
	<div id="bg">
		
		<!-- Logged in user-->
		<div id = "profile_header">
			<p id = "logged_in_user" ></p>
		</div>
		
		<!-- Navigation Bar -->
		<nav id = "no_log_nav">
			<a href = "{% url 'front_page'%}">Home Page</a>
			<a href = "{% url 'login'%}">Login</a>
			<a href = "{% url 'register'%}">Register</a>
		</nav>
		
		<nav id = "logged_nav">
			<a href = "{% url 'front_page'%}">Home Page</a>
			<a href = "profile_manager.html">Profile Management</a>
			<a href = "fuel_quote_form.html">Fuel Quote Form</a>
			<a href = "register.html">Fuel Quote History</a>
			<a href = "login.html" onclick="logout()">Logout</a>
		</nav>
		
		<body>
			
		</body>
	</div>
</html>