{% load static %}
<!DOCTYPE HTML>

<!-- Fuel Quote History -->

<html>
	<title>Fuel Quote History</title>
    <link rel="stylesheet" href="{% static 'style/style.css'%}">
	
	<script defer src="{% static 'function/function.js' %}"></script> 
	
	<div id="bg">
		<!-- Logged in user-->
		<div id = "profile_header">
			<p id = "logged_in_user" ></p>
		</div>
		
		<!-- Navigation Bar -->
		<nav id = "no_log_nav">
			<a href = "{% url 'front_page'%}">Home Page</a>
			<a href = "{% url 'login'%}">Login</a>
			<a href = "{% url 'register'%}">Register</a>
		</nav>
		
		<nav id = "logged_nav">
			<a href = "{% url 'front_page'%}">Home Page</a>
			<a href = "{% url 'profile_manager'%}">Profile Management</a>
			<a href = "{% url 'fuel_quote'%}">Fuel Quote Form</a>
			<a href = "{% url 'fuel_history'%}.html">Fuel Quote History</a>
			<a href = "{% url 'login'%}" onclick="logout()">Logout</a>
		</nav>
		
		<header>
			<h2>Fuel Quote History</h2>
			
			<table>
				<tr>
					<th>Gallons Requested:</th>
					<th>Delivery Address:</th>
					<th>Delivery Date:</th>
					<th>Suggested Price:</th>
					<th>Total Amount Due:</th>
				</tr>
			</table>
		</header>
		<body>
		</body>
	</div>
</html>
