{% load static %}
<!DOCTYPE HTML>

<!-- Login Page -->

<html>
	<title>Login Portal</title>    
    <link rel="stylesheet" href="{% static 'style/style.css'%}">
	
	<script defer src="{% static 'function/function.js' %}"></script> 
	<script defer src="{% static 'function/login.js' %}"></script> 
	
	<div id="bg">
		
		<!-- Logged in user-->
		<div id = "profile_header">
			<p id = "logged_in_user" ></p>
		</div>
		
		<!-- Navigation Bar -->
		<nav id = "no_log_nav">
			<a href = "{% url 'front_page'%}">Home Page</a>
			<a href = "{% url 'login'%}">Login</a>
			<a href = "{% url 'register'%}">Register</a>
		</nav>
		
		<nav id = "logged_nav">
			<a href = "front_layout.html">Home Page</a>
			<a href = "profile_manager.html">Profile Management</a>
			<a href = "fuel_quote_form.html">Fuel Quote Form</a>
			<a href = "fuel_history.html">Fuel Quote History</a>
			<a href = "login.html" onclick="logout()">Logout</a>
		</nav>
		
		<!-- Main login form -->
		<form id="login-form">
			<body>
				<header>
					<h2>Login Portal:</h2>
				</header>
	
				<div>
					<label>Username:</label>
					<input type="text" id="username-field" name = "username" class="login-form-field" placeholder="Username" required>
				</div>
		
				<div>
					<label>Password:</label>
					<input type="password" id="password-field" name = "password" class="login-form-field" placeholder="Password" required>
				</div>
		
				<div>
					<input type="submit" value = "Login" id="login-form-submit" href = "front_page.html">
				</div>
		
				<div>
					<a href="register.html">Don't have an account? Register here.</a>
				</div>
			</body>
		</form>
	</div>
</html>