{% load static %}
<!DOCTYPE HTML>

<!-- Fuel Quote Form -->

<html>
	<title>Fuel Quote</title>
    <link rel="stylesheet" href="{% static 'style/style.css'%}">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		function getQuote()
		{
			console.log("AH");
			 $.ajax({
			 
				data: $("#get-quote").serialize(),
			})

			return true;
		};
	</script>
	
	<div id="bg">
		<!-- Logged in user-->
		<div id = "profile_header">
			{% if user.is_authenticated %}
				<p>Welcome {{user.username}}</p>
			{% else %}
				<p>Not Logged In</p>
			{% endif %}
		</div>
		
		<!-- Navigation Bar -->
		<nav id = "no_log_nav">
			<a href="{%url 'front_page'%}">Front Page</a>
			<a href="{% url 'fuel_history'%}">Purchase History</a>
			<a href="{% url 'profile_manager'%}">Profile Management</a>
			<a href="{% url 'logout' %}">Logout</a>
			Welcome, {{user.UserCredentials.username}}
		</nav>
		
		<header>
			<h2>Fuel Quote Form:</h2>
		</header>
		<p id = "warning" style = "color: red;"></p>
		
		<h3> Get Quote </h3>
		<form onsubmit="return getQuote();" method="GET" action="/fuel_quote" id = "get-quote">
			<body>
				<div>
					{{form.as_p}}
				</div>
				
				<div>
					<input type="submit" value = "Get Quote" id="fuel-quote-get">
				</div>
		</form>
		<form onsubmit="return getQuote();" method="POST" action="/fuel_quote" id = "get-quote">
		{% csrf_token %}
				
				<div>
					<label>Gallons: </label> {{ gallons }}
				</div>
				
				<div>
					<label>Delivery Date: </label> {{ delivery_date }}
				</div>
				
				<div>
					<label>Suggested Price: </label> ${{ suggested }}
				</div>
				
				<div>
					<label>Delivery Address: </label> {{user.clientinformation.address1}}, {{user.clientinformation.city}}, {{user.clientinformation.state}}
				</div>
			
				<div>
					<label>Total: </label> ${{ total }}
				</div>
				
				<div>
					<input type="submit" value = "Submit Quote" id="fuel-form-submit">
				</div>
			</body>
		</form>
	</div>	
</html>
