{% load static %}
<!DOCTYPE HTML>

<!-- Fuel Quote Form -->

<html>
	<title>Fuel Quote</title>
    <link rel="stylesheet" href="{% static 'style/style.css'%}">
		
	<div id="bg">
		<!-- Logged in user-->
		<div id = "profile_header">
			{% if user.is_authenticated %}
				<p>Welcome {{user.username}}</p>
			{% else %}
				<p>Not Logged In</p>
			{% endif %}
		</div>
		
		<!-- Navigation Bar -->
		<nav id = "no_log_nav">
			{% if user.has_profile %}
				<a href="{% url 'fuel_history'%}">Purchase History</a>
				<a href="{% url 'fuel_quote'%}">Fuel Quote</a>	
			{% endif %}
			{% if user.is_authenticated %}
				<a href="{% url 'profile_manager'%}">Profile Management</a>
				<a href="{% url 'logout' %}">Logout</a>
			{% else %}
				<a href = "{% url 'login'%}">Login</a>
				<a href = "{% url 'signup'%}">Register</a>
			{% endif %}
			
		</nav>
		
		<header>
			<h2>Fuel Quote Form:</h2>
		</header>
		
		{% if not sub_quote %} 
			<p style = "color: red;"> Enter A Quote Below </p>
		{% endif %}
		
		<h3> Get Quote </h3>
		<form method="GET" action="/fuel_quote">
			<body>
				<div>
					{{form.as_p}}
				</div>
				
				<div>
					<input type="submit" value = "Get Quote" id="fuel-form-submit">
				</div>
			</body>
		</form>
		
		<h3> Submit Quote </h3>
		<form method="POST" action="/fuel_quote" id="fuel_quote-form">
			{% csrf_token %}
			<body>
				{% if sub_quote %} 
					<div>
						<label>Gallons:</label> {{gallons}}
					</div>
					<div>
						<label>Delivery Date:</label> {{delivery_date}}
					</div>
				{% endif %}
				
				<div>
					<label>Suggested Price: </label> ${{ suggested }}
				</div>
				
				<div>
					<label>Delivery Address: </label> {{user.clientinformation.address1}}, {{user.clientinformation.city}}, {{user.clientinformation.state}}
				</div>
			
				<div>
					<label>Total: </label> ${{ total }}
				</div>
				
				<div>
					<input type="submit" value = "Submit Quote" id="fuel-form-submit">
				</div>
			</body>
		</form>
	</div>	
</html>
